{% extends 'off/base.html' %}
<!-- User account page -->
{% block content %}
	<header class="masthead2">
		<div class="container h-100">
      		<div class="row h-100 align-items-center justify-content-center text-center">
        		<div class="col-lg-10 align-self-end">
        			<!-- User name -->
					<div class="text-uppercase text-white font-weight-bold">Bonjour {{user.username}}</div>
					<hr class="divider my-4">
				</div>
			</div>
		</div>		
	</header>
	<div class="container h-40">
		<div class="row align-items-center justify-content-center text-center">
			<div class="col-lg-10 align-self-end">
				<!-- User email -->
				<div class="text-uppercase text-black font-weight-bold">{{user.email}}</div>
			</div>
		</div>
	</div>
{% endblock %}