{% extends 'off/base.html' %}

{% block title %}
  - Créer un compte
{% endblock %}

{% block content %}
  <section class="form-connexion">
    <div class="container">
      <h2 class="text-center">Créer un compte</h2>
      <hr class="divider my-4">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        <div id="butt"><button class="btn btn-primary" type="submit">Créer mon compte</button></div>
      </form>
    </div>
  </section>
{% endblock %}

